@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f75023;
  --secondary-color: #8067f0;
  --success-color: #1cbe59;

  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #fafafa; /* gray-200 */
  --clr-text-light: #1f2937; /* zinc-50 */
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}